{
  "presets": [
    "react",
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    "syntax-class-properties",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
        "react",
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [
        "syntax-object-rest-spread",
        "transform-object-rest-spread",
        "syntax-class-properties",
        "transform-class-properties",
        [
          "css-modules-transform",
          {
            "generateScopedName": "[name]-[local]-[hash:base64:5]",
            "extensions": [".css"]
          }
        ]
      ]
    }
  }
}
